<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_task_entry_path(@task_entry) %> |
<%= link_to 'Back', task_entries_path %> |
<%= link_to 'Pending Tasks', pending_tasks_task_entries_path() %>
